.action-cinema {
    width: 160px;
    // display: flex;
    justify-content: center;
    align-items: center;
    .detail-cinema {
        color: #ffd43b;
        margin-right: 10px;
    }
    .settings-cinema {
        color: #2196f3;
        margin-right: 10px;
    }
    .delete-cinema {
        color: #f44336;
    }
}
