.header-top-container {
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 1000;
    .navbar-top {
        height: 4.375rem;
        box-shadow: 0 0.15rem 1.75rem 0 rgba(58, 59, 69, 0.15) !important;
        background-color: #fff !important;
        flex-flow: row nowrap;
        justify-content: flex-start;
        position: relative;
        display: flex;
        align-items: center;
        padding: 0.5rem 1rem;
        .search-input {
            margin-left: 1rem;
            margin-bottom: 0;
            margin-top: 0;
            margin-right: auto;
            .input-search-text {
                width: 360px;
                font-size: 0.85rem;
            }
            .btn-search {
                color: #fff;
                background-color: #4e73df;
                border-color: #4e73df;
            }
        }
    }

    .image-employ {
        margin-left: auto !important;
        display: flex;
        flex-direction: initial;
        .topbar-divider {
            width: 0;
            border-right: 1px solid #e3e6f0;
            height: calc(4.375rem - 2rem);
            margin: auto 1rem;
        }
        .nav-admin {
            width: 155px;
        }
        .profile {
            display: flex;
            cursor: pointer;
            align-items: center;
            justify-content: end;
            .fullname-employ {
                color: #858796;
                font-size: 80%;
                margin-top: 6px;
                font-weight: 400;
                display: inline !important;
                margin-right: 0.5rem !important;
            }
            .img-profile {
                width: 2rem;
                height: 2rem;
                border-radius: 50%;
                background-size: cover;
                background-repeat: no-repeat;
                background-position: center;
            }
        }
    }
}
